@media only screen and (min-width: 600px) {
	 	.grid{
	width: 100%;
	float: none;
	margin: 0px 0px 0px -246px;
	 }
	 .sectionA{
	 	margin-top: -47px;
   		 height: 42vh;
	 }
	 #section-border{
	 	border-bottom: 1px solid #79554852;
	 }
	 .sectionB-content{
	 width: 48%;
	 height: 1%;
    float: left;
	position: relative;
    left: 6px;
	 }
	 .gallery{
	 	width: 100%;
	 	height: 50vh;
	 	/*margin: -14px 0px 0px 0px;
    	float: left;*/
	 }
	 .block{
		 width: 100%;
    		height: 42vh;
	}
	 .sectionC{
	 	position: relative;
    		top: 1700px;
	 	padding: 30px 26px;
	 }
	 .sectionD{
	 	position: relative;
	 	top: 1750px;
	}
	 #footer-content1 > a{
		width: 100%;
		float: left;
		clear: both;
	}
	#footer-content2 > a{
		width: 100%;
	}
	 #third-block{
	 	    width: 97%;
	 }
	 #first-block{}
	footer{
		position: absolute;
		top: 2545px;
	}
}
@media only screen and (min-width: 992px) {
	
.grid{
	width: 25%;
	float: left;
	position: relative;
	top: 5px;
	left: 251px;
	margin: 0px 25px 0px 25px;
	 }
	 #section-border{
	 	border-right: 1px solid #79554852;
	 }
	 #sectionA-border{
	 	border-bottom: 1px solid #79554852;
	 	border-left: 1px solid #79554852;
	 }
	 .sectionB-content{
	 width: 20%;
	 height: 57vh;
	 margin: 15px 10px 15px 0px;
    	float: left;
	position: relative;
    	left: 190px;
	 }
	 #third-block{
	 	width: 20%;
	 	height: 57vh;
	 }
	 .gallery{
	 	width: 100%;
	 	height: auto;
	 }
	 .block{
		 width: 100%;
    		height: 42vh;
}
/*#first-image{
	height: auto;
}*/
.sectionC{
		width: 100%;
		/*height: 25vh;*/
		position: absolute;
		top: 900px;
	}
	.sectionC-content{
		padding-top: 17px;
	}
	.sectionD{
		position: absolute;
		top: 1150px;
		width: 100%;
	}
	#footer-content1 > a{
		width: 50%;
		height:270px;
		padding: 55px 0px;
    		line-height: 2;
	}
	#footer-content2 > a{
		width: 50%;
		height:270px;
		padding: 55px 0px;
   		 line-height: 2;
	}

}
@media only screen and (min-width: 350px){
footer {
    position: absolute;
    top: 2513px;
}
}
@media only screen and (min-width: 366px){
	footer{
		position: absolute;
		top: 2605px;
	}
}
@media only screen and (min-width: 418px){
	footer{
		position: absolute;
		top: 2569px;
	}
}
@media only screen and (min-width: 434px){
	footer{
		position: absolute;
		top: 2545px;
	}
}
@media only screen and (min-width: 480px){
	footer{
		position: absolute;
		top: 2521px;
	}
}
@media only screen and (min-width: 496px){
	footer{
		position: absolute;
		top: 2473px;
	}
}
@media only screen and (min-width: 514px){
	footer{
		position: absolute;
		top: 2450px;
	}
}
@media only screen and (min-width: 580px){
	footer{
		position: absolute;
		top: 2426px;
	}
}
@media only screen and (min-width: 600px){
	footer{
		position: absolute;
		top: 2496px;
	}
}
@media only screen and (min-width: 608px){
	footer{
		position: absolute;
		top: 2471px;
	}
}
@media only screen and (min-width: 890px){
	footer{
		position: absolute;
		top: 1390px;
	}
}
@media only screen and (min-width: 944px){
	footer{
		position: absolute;
		top: 2423px;
	}
}
@media only screen and (min-width: 992px){
	footer{
		position: absolute;
		top: 1421px;
	}
}
